
{% autoescape off %}
				                    <tr>
                              <td>{{ posting.job_title }}</td>
                              <td class="text-truncate">{{ posting.description }}</td>
                              <td>{{ posting.vacancy }}</td>
                              <td>{{ posting.salary_range }}</td>
                              <td>
                                  {% for file in posting.job_posting_attachments.all %}
                                    <span class="badge rounded-pill bg-info w-100 text-truncate">
                                      <a href="{{ file.url }}">{{ file }}</a> |
                                    </span>
                                  {% endfor %}
                              </td>
                              <td>{{ posting.required_skills }}</td>
                              <td class="p-0">
                                <span class="table-remove">
                                  <span class="remove-row" data-id="{{ posting.id }}" data-table="CompanyJobPosting">
                                    <i class="fas fa-times-circle"></i>
                                  </span>
                                </span>
                              </td>
                            </tr>
{% endautoescape %}
