{% load static %}

<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                    <div class="feed-text px-2">

                    </div>
                    <div class="feed-icon px-2"><i class="fa fa-long-arrow-up text-black-50"></i></div>
                </div>
                {% for posting in latest_jobs %}
                <div class="bg-white border mt-2">
                    <div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="{{ posting.company.owner.user_avatar.url }}" width="45">
                                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ posting.company.name }}</span><span class="text-black-50 time">40 minutes ago (static)</span></div>
                            </div>


                            {% if user.user_type == "applicant" %}
                                {% if user.applicant_data in posting.get_applicants %}
                                    <button id="jobPostingApply" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_apply' %}" data-action="cancel">Cancel</button>
                                {% else %}
                                    <button id="jobPostingApply" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_apply' %}" data-action="apply">Apply</button>
                                {% endif %}
                            {% else %}
                                <button>Archive</button>
                            {% endif %}
                        </div>
                    </div>
                    <label>Job Description</label>
                    <div class="p-2 px-3"><span>{{ posting.description }}</span></div>
                    <!--<div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>-->
                    <div class="p-2 px-3"><span>Looking For: {{ posting.vacancy }}</span></div>
                    <div class="p-2 px-3"><span>Salary Range: {{ posting.salary_range }}</span></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
