{% extends 'base.html' %}
{% load static %}

{% block title %} Jobs Board {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/jobs-board.css' %}" type="text/css">
{% endblock %}

{% block body %}

<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                    <div class="feed-text px-2 w-100">
                      <div class="form-group mb-2">
                        <input id="searchInput" type="text" class="form-control form-control-lg" data-ajax-url="{% url 'jobs:ajax_filter_postings' %}"/>
                        <button id="filterPostings">Search</button>
                      </div>
                    </div>
                    <div class="feed-icon px-2"><i class="fa fa-long-arrow-up text-black-50"></i></div>
                </div>

                <div id="postingsContainer">
                  {% for posting in latest_jobs %}

                  <div class="bg-white border mt-2">
                      <div>
                          <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                              <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="{{ posting.company.owner.user_avatar.url }}" width="45">
                                  <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ posting.company.name }}</span><span class="text-black-50 time">40 minutes ago (static)</span></div>
                              </div>
                              {% if user.user_type == "employer" and user == posting.company.owner %}
                                  <button class="jobPostingArchive" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_archive_postings' %}">Archive</button>
                              {% elif user.user_type == "employer" and user != posting.company.owner %}
                              {% else %}
                                  {% if user.applicant_data not in posting.get_declined %}
                                    {% if user.applicant_data in posting.get_applicants %}
                                        <button class="jobPostingApply" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_apply' %}" data-action="cancel">Cancel</button>
                                    {% else %}
                                        <button class="jobPostingApply" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_apply' %}" data-action="apply">Apply</button>
                                    {% endif %}
                                  {% endif %}
                              {% endif %}
                          </div>
                      </div>
                      <h3>Job Description</h3>
                      <div class="p-2 px-3"><span>{{ posting.job_title }}</span></div>
                      <div class="p-2 px-3"><span>{{ posting.description }}</span></div>
                      <!--<div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>-->
                      <div class="p-2 px-3"><span>Looking For: {{ posting.vacancy }}</span></div>
                      <div class="p-2 px-3"><span>Salary Range: {{ posting.salary_range }}</span></div>

                      {% if user.user_type == "employer" and user == posting.company.owner %}
                      <hr>
                      <div class="job_posting_applicants">
                        {% if posting.job_applicants %}

                          {% for job_applicant in posting.job_applicants.all %}
                              {{ job_applicant.applicant.user.full_name }}
                                <a href="{% url 'users:profile_edit' pk=job_applicant.applicant.user.id %}" target="_blank">Visit Profile</a>

                                {% if job_applicant.status != 'declined' and job_applicant.status != 'hired'%}
                                <div class="job_posting_actions">
                                  <button data-bs-toggle="modal" data-bs-target="#scheduleInterviewModal">Schedule Interview</button>
                                  <button class="hireApplicant" data-posting-id="{{ posting.id }}" data-user-id="{{ job_applicant.applicant.user.id }}" data-ajax-url="{% url 'jobs:ajax_hire_applicant' %}">Hire</button>
                                  <button class="declineApplicant" data-posting-id="{{ posting.id }}" data-user-id="{{ job_applicant.applicant.user.id }}" data-ajax-url="{% url 'jobs:ajax_decline_applicant' %}">Decline</button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="scheduleInterviewModal" data-posting-id="{{ posting.id }}" data-user-id="{{ job_applicant.applicant.user.id }}" data-ajax-url="{% url 'jobs:ajax_schedule_interview' %}" tabindex="-1" role="dialog" aria-labelledby="addJobPostingTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="">Pick Schedule</h5>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row col">

                                            <div class="form-group mt-0 mb-2">
                                              <label class="required-field-label" for="interview_schedule">Date</label>
                                              <input value="" type="date" id="interview_schedule" name="interview_schedule" class="form-control form-control-lg required" max="2999-12-31" required>
                                            </div>

                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="scheduleInterviewSubmit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                          {% endfor %}

                        {% endif %}
                      </div>
                      {% endif %}
                  </div>

                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/jobs_board.js' %}"></script>
{% endblock %}
