{% extends 'base.html' %}
{% load static %}

{% block title %} Registration {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
{% endblock %}

{% block navbar %}{% endblock %}
{% block messages %}{% endblock %}
{% block body %}

  <div class="content">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12 contents mb-5">
          <div class="row justify-content-center">

            <div class="col-md-10">
              <div class="d-flex justify-content-between mb-4">
                {% if user_type == 'applicant' %}
                <h3>User Registration</h3>
                {% else %}
                <h3>Company Registration</h3>
                {% endif %}
                <a href="{% url 'login'%}"><i class="fas fa-angle-left mr-1"></i> Back to Login</a>
              </div>
              <p class="mb-4">Register now! Be an applicant and look for jobs or an employer and setup your company profile</p>

              {% if messages %}
              <div id="message-container">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                  </div>
                  {% endfor %}
              </div>
              {% endif %}

              <form id="registrationForm" action="#" method="post" enctype="multipart/form-data">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="ex2-tab-1"
                      data-mdb-toggle="tab"
                      href="#tab-personal"
                      role="tab"
                      aria-controls="tab-personal"
                      aria-selected="true" disabled>
                      {% if user_type == 'applicant' %}
                      Personal
                      {% else %}
                      Company Details
                      {% endif %}
                    </a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="ex2-tab-2"
                      data-mdb-toggle="tab"
                      href="#tab-login"
                      role="tab"
                      aria-controls="tab-login"
                      aria-selected="false" disabled>
                      Login
                    </a>
                  </li>

                  {% if user_type == 'applicant' %}
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="ex2-tab-3"
                      data-mdb-toggle="tab"
                      href="#tab-experience"
                      role="tab"
                      aria-controls="tab-experience"
                      aria-selected="false" disabled>
                      Experience
                    </a>
                  </li>

                  {% endif %}

                </ul>

                <hr>
                <!-- Tabs content -->
                <div class="tab-content" id="ex2-content">

                  <!-- Personal -->
                  <div class="tab-pane fade show active" id="tab-personal" role="tabpanel" aria-labelledby="ex2-tab-1">

                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-3 px-1">

                          <!-- User Avatar -->
                          <div class="file-upload px-2 mb-2">
                            <div class="image-upload-wrap">
                              <input class="file-upload-input" type='file' id="user_avatar" name="user_avatar" onchange="readURL(this);" accept="image/*" />
                              <div class="drag-text">
                                {% if user_type == 'employer' %}
                                  <h5 class="pt-5">Company Avatar</h5>
                                {% else %}
                                  <h5 class="pt-5">Profile Avatar</h5>
                                {% endif %}
                                <p class="pb-4 px-4">Drag and drop a file or select add Image</p>
                              </div>
                            </div>
                            <div class="file-upload-content">
                              <img class="file-upload-image img-fluid z-depth-1" src="#" alt="your image" />
                              <button type="button" onclick="removeUpload()" class="btn btn-danger btn-rounded px-3"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                            </div>
                          </div>

                          {% if user_type == 'employer' %}
                            <h4 class="pt-5">Hiring Agent</h4><hr>

                            <!-- First name -->
                            <div class="form-group px-2 mb-2">
                              <label class="required-field-label" for="first_name">First Name</label>
                              <input value="{{ form.data.first_name }}" type="text" id="first_name" name="first_name" class="form-control form-control-lg required" maxlength="25" required/>
                            </div>

                            <!-- Middle name -->
                            <div class="form-group px-2 mb-2">
                                <label class="" for="middle_name">Middle Name</label>
                                <input value="{{ form.data.middle_name }}" type="text" id="middle_name" name="middle_name" class="form-control form-control-lg" maxlength="25"/>
                            </div>

                            <!-- Last name -->
                            <div class="form-group px-2 mb-2">
                                <label class="required-field-label" for="last_name">Last Name</label>
                                <input value="{{ form.data.last_name }}" type="text" id="last_name" name="last_name" class="form-control form-control-lg required" maxlength="25" required/>
                            </div>

                            <!-- Extensions -->
                            <div class="form-group px-2 mb-2">
                              <label class="" for="extension">Extensions</label>
                              <input value="{{ form.data.extension }}" type="text" id="extension" name="extension" class="form-control form-control-lg" maxlength="25"/>
                            </div>
                          {% endif %}

                          <!-- Phone Number -->
                          <div class="form-group px-2 mb-2">
                            <label class="" for="phone_number">Telephone Number</label>
                            <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                <select name="area_code" class="input-group-text md-form form-control form-control-lg p-0 required" dir="rtl" required>
                                  {% for code in area_codes %}
                                  <option value="{{ code }}" {% if form.data.area_code == code %}selected{% endif %}>({{ code }})</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <input value="{{ form.data.phone_number }}" type="text" id="phone_number" name="phone_number" class="phone_number form-control form-control-lg number_only" maxlength="8"/>
                              <small id="phone_numberHelp" class="form-text text-muted">You can select a different area code from the dropdown.</small>
                            </div>
                          </div>

                          <!-- Mobile Number -->
                          <div class="form-group px-2 mb-2">
                            <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                            <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                              </div>
                              <input value="{{ form.data.mobile_number }}" type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                            </div>
                          </div>

                          {% if user_type == 'applicant' %}
                          <!-- Gender -->
                          <div class="form-group px-2 mb-2">
                            <label class="required-field-label" for="gender">Gender</label>
                            <select name="gender" class="gender-select mdb-select md-form form-control form-control-lg required" required>
                              <option value="" disabled {% if not form.data.gender %}selected{% endif %}>------</option>
                              <option value="male" {% if form.data.gender == 'male' %}selected{% endif %}>Male</option>
                              <option value="female" {% if form.data.gender == 'female' %}selected{% endif %}>Female</option>
                              <option value="others" {% if form.data.gender == 'others' %}selected{% endif %}>Others</option>
                            </select>
                          </div>

                          <!-- Birthday -->
                          <div class='form-group px-2 mb-2 date col' id='datetimepicker1'>
                              <label class="required-field-label" for="birthdate">Birthday</label>
                              <input value="{{ form.data.birthdate }}" type="date" id="birthdate" name="birthdate" class="form-control form-control-lg required"/ max="2999-12-31" required>
                          </div>
                          {% endif %}

                        </div>
                        <div class="form-group col">

                          {% if user_type == 'applicant' %}
                          <div class="row mb-4">
                              <!-- First name -->
                              <div class="form-group col">
                                <label class="required-field-label" for="first_name">First Name</label>
                                <input value="{{ form.data.first_name }}" type="text" id="first_name" name="first_name" class="form-control form-control-lg required" maxlength="25" required/>
                              </div>

                              <!-- Middle name -->
                              <div class="form-group col">
                                  <label class="" for="middle_name">Middle Name</label>
                                  <input value="{{ form.data.middle_name }}" type="text" id="middle_name" name="middle_name" class="form-control form-control-lg" maxlength="25"/>
                              </div>

                              <!-- Last name -->
                              <div class="form-group col">
                                  <label class="required-field-label" for="last_name">Last Name</label>
                                  <input value="{{ form.data.last_name }}" type="text" id="last_name" name="last_name" class="form-control form-control-lg required" maxlength="25" required/>
                              </div>

                              <!-- Extensions -->
                              <div class="form-group col-md-2">
                                <label class="" for="extension">Extensions</label>
                                <input value="{{ form.data.extension }}" type="text" id="extension" name="extension" class="form-control form-control-lg" maxlength="25"/>
                              </div>
                          </div>
                          {% endif %}

                          {% if user_type == 'employer' %}
                          <div class="row mb-4">

                              <div class="form-group col">
                                  <label class="required-field-label" for="company_name">Company Name</label>
                                  <input value="{{ form.data.company_name }}" type="text" id="company_name" name="company_name" class="form-control form-control-lg required" required/>
                              </div>

                              <div class="form-group col">
                                  <label for="website">Website</label>
                                  <input value="{{ form.data.website }}" type="text" id="website" name="website" class="form-control form-control-lg"/>
                              </div>

                          </div>

                          <div class="row mb-4">
                            <div class="form-group mb-2 col">
                              <label class="required-field-label" for="company_email">Company Email</label>
                              <input value="{{ object.email }}" type="text" id="company_email" name="company_email" class="form-control form-control-lg required" required/>
                              <small class="form-text text-muted">Official company email. <br> Not used for login.</small>
                            </div>

                            <!-- Phone Number -->
                            <div class="form-group mb-2 col">
                              <label class="" for="phone_number">Telephone Number</label>
                              <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                  <select name="area_code" class="input-group-text md-form form-control form-control-lg p-0 required" dir="rtl" required>
                                    {% for code in area_codes %}
                                    <option value="{{ code }}" {% if object.owner.area_code == code %}selected{% endif %}>({{ code }})</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <input value="{{ object.owner.phone_number|default_if_none:'' }}" type="text" id="phone_number" name="company_phone_number" class="phone_number form-control form-control-lg number_only" maxlength="8"/>
                                <small class="form-text text-muted">You can select a different area code from the dropdown.</small>
                              </div>
                            </div>

                            <!-- Mobile Number -->
                            <div class="form-group mb-2 col">
                              <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                              <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                                </div>
                                <input value="{{ object.owner.mobile_number|default_if_none:'' }}" type="text" id="mobile_number" name="company_mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                              </div>
                            </div>

                          </div>

                          <div class="row mb-4">
                              <div class="form-group col">
                                  <label class="" for="founded_on">Foundation Date</label>
                                  <input value="{{ form.data.founded_on }}" type="date" id="founded_on" name="founded_on" class="form-control form-control-lg"/>
                              </div>
                              <div class="form-group col">
                                  <label class="" for="employee_count">Employee Count</label>
                                  <input value="{{ form.data.employee_count }}" type="text" id="employee_count" name="employee_count" class="form-control form-control-lg"/>
                              </div>
                          </div>

                          <div class="row mb-4">

                              <div class="form-group mb-2">
                                <label class="" for="company_overview">Company Background</label>
                                <textarea class="form-control" id="company_overview" name="company_overview"  rows="4"></textarea>
                              </div>

                          </div>

                          {% endif %}

                          <!-- Address -->
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="region">Region</label>
                            <select name="region" id="user_region" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ form.data.region }}" data-target="user_province" required>
                              <option value="">------</option>
                              {% for region in regions.all %}
                                <option value="{{ region.id }}" {% if form.data.region == region.id|stringformat:"i" %}selected{% endif %}>{{ region.name }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="province">Province</label>
                            <select name="province" id="user_province" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ form.data.province }}" data-target="user_municipality" required>
                              <option value="">------</option>
                              {% if form.data.province %}
                                {% for province in provinces.all %}
                                  <option value="{{ province.id }}" {% if form.data.province == province.id|stringformat:"i" %}selected{% endif %}>{{ province.name }}</option>
                                {% endfor %}
                              {% endif %}
                            </select>
                          </div>
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="municipality">Municipality</label>
                            <select name="municipality" id="user_municipality" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ form.data.municipality }}" data-target="user_barangay" required>
                              <option value="">------</option>
                              {% if form.data.municipality %}
                                {% for municipality in municipalities.all %}
                                  <option value="{{ municipality.id }}" {% if form.data.municipality == municipality.id|stringformat:"i" %}selected{% endif %}>{{ municipality.name }}</option>
                                {% endfor %}
                              {% endif %}
                            </select>
                          </div>
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="barangay">Barangay</label>
                            <select name="barangay" id="user_barangay" class="mdb-select md-form form-control form-control-lg required" required>
                              <option value="">------</option>
                              {% if form.data.barangay %}
                                {% for barangay in barangays.all %}
                                  <option value="{{ barangay.id }}" {% if form.data.barangay == barangay.id|stringformat:"i" %}selected{% endif %}>{{ barangay.name }}</option>
                                {% endfor %}
                              {% endif %}
                            </select>
                          </div>
                          <div class="form-group mb-2">
                            <label class="" for="address">Full Address</label>
                            <input value="{{ form.data.address }}" type="text" id="address" name="address" class="form-control form-control-lg" />
                          </div>

                        </div>
                      </div>

                      <hr>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary step-login next">NEXT</button>
                      </div>

                  </div>

                  <!-- Login -->
                  <div class="tab-pane fade" id="tab-login" role="tabpanel" aria-labelledby="ex2-tab-2">
                      <div class="row justify-content-md-center">
                        <div class="col-md-6 col-md-auto">
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="email">Email</label>
                            <input value="{{ form.data.email }}" type="text" id="email" name="email" class="form-control form-control-lg required" required/>
                          </div>
                          <div class="form-group mb-2">
                            <label class="required-field-label" for="password1">Password</label>
                            <input value="{{ form.data.password1 }}" type="password" id="password1" name="password1" class="form-control form-control-lg required" required/>
                          </div>
                          <div class="form-group mb-4">
                            <label class="required-field-label" for="password2">Re-type Password</label>
                            <input value="{{ form.data.password2 }}" type="password" id="password2" name="password2" class="form-control form-control-lg required" required/>
                            <div class="valid-feedback">Passwords Matched!</div>
                          </div>
                        </div>
                      </div>

                      <hr>
                      <div class="row justify-content-md-center">
                        <div class="col-md-6 col-md-auto text-center">
                          <button type="button" class="btn btn-light step-personal previous">PREVIOUS</button>
                          {% if user_type == 'applicant' %}
                          <button type="button" class="btn btn-primary step-experience next">NEXT</button>
                          {% else %}
                          <input type="submit" value="REGISTER" class="btn btn-primary submit">
                          {% endif %}
                        </div>
                      </div>

                  </div>

                  {% if user_type == 'applicant' %}

                  <!-- Experience -->
                  <div class="tab-pane fade" id="tab-experience" role="tabpanel" aria-labelledby="ex2-tab-3">
                      <div class="row mb-4">
                        <div class="form-group mx-1 col-8">
                          <label class="" for="headline">Headline:</label>
                          <input value="{{ form.data.headline }}" type="text" id="headline" placeholder="'Software Developer / Freelancer'" name="headline" class="form-control form-control-lg"/>
                        </div>
                        <div class="form-group mx-1 col">
                          <label class="" for="applicant_status">Employment Status</label>
                          <select name="applicant_status" class="applicant-status-select mdb-select md-form form-control form-control-lg">
                            <option value="" disabled {% if not form.data.applicant_status %}selected{% endif %}>------</option>
                            <option value="unemployed" {% if form.data.applicant_status == 'unemployed' %}selected{% endif %}>Unemployed</option>
                            <option value="employed" {% if form.data.applicant_status == 'employed' %}selected{% endif %}>Employed</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="form-group mx-1 col">
                          <label class="" for="overview">Brief Overview</label>
                          <textarea class="form-control" id="overview" name="overview"  rows="4">{{ form.data.overview }}</textarea>
                        </div>
                      </div>

                      <div class="row mb-4">
                        <span>Resume</span>
                        <div class="form-group mb-2">
                          <input type="file" id="resume" name="resume" class="form-control form-control-lg" />
                        </div>
                        <span>Other Attachments</span>
                        <div class="form-group mb-2">
                          <input type="file" id="attachments" name="attachments" class="form-control form-control-lg" multiple/>
                        </div>
                      </div>
                      <hr>

                      <div class="row justify-content-md-center">
                        <div class="col-md-6 col-md-auto text-center">
                          <button type="button" class="btn btn-light step-login previous">PREVIOUS</button>
                          <input type="submit" value="REGISTER" class="btn btn-primary submit">
                        </div>
                      </div>

                  </div>

                  {% endif %}

                </div>
                <!-- Tabs content -->

              </form>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/registration.js' %}"></script>
{% endblock %}