{% extends 'base.html' %}
{% load static %}
{% load common_tags %}

{% block title %} Profile {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
  <link href="{% static 'css/profileUser.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="profileHolder">
  <div class="profileBody">
    <div class="profileLeftDiv">
      <div class="avatarHolder">
        <img src="{{ object.user_avatar.url }}" alt="" class="avatar">
      </div>
      <hr>
      <div class="title">
        <span class="contact">Contact</span>
        <ul style="font-size: smaller; padding: 0% 0% 0% 20%; font-weight: 100;width: 80%;">
          <li>{{ object.email}}</li>
          <li>{{ object.mobile_number }}</li>
          <li>{{ object.region }}, {{ object.province}}, {{ object.municipality }}, {{ object.barangay }}</li>
        </ul>
      </div>
      <hr>
      <div class="title">
        <span class="contact">Education</span>

        {% if educational_history.all %}
        {% for school in educational_history.all %}
        <div  style="font-weight: 100;font-size: 12px; padding-left: 15%; color: antiquewhite; ">
          <span style="font-size: large; font-weight: 600; color: white;" >{{ school.degree }}</span>
          <br>
          <span>{{ school.school_name }}</span>
          <br>
          <span>{{ school.start }}-{{school.end}}</span>
        </div>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="title">
        <span class="contact">Skill</span>

        {% if skills.all %}
        {% for skill in skills.all %}
        <div  style="font-weight: 100;font-size: 10px; padding-left: 15%;">
          <span style="font-size: large; font-weight: 600;">{{ skill.name }}</span>
        </div>
        {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
    <div class="profileRightDiv">
      <div class="name">
        <span>{{object.full_name}}</span>
        <hr>
        <small>{{object.headline}}</small>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
