{% extends 'base.html' %}
{% load static %}
{% load common_tags %}

{% block title %} Profile {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block messages %}{% endblock %}
{% block body %}

  <div class="content">
    <div class="container rounded mt-5 mb-5">
      <form id="profileForm" action="#" method="post" enctype="multipart/form-data">
        <!-- Tabs content -->

          {% csrf_token %}
          <div class="row mb-4">
            {% if messages %}
            <div id="message-container" class="p-0">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- LEFT DIV -->
            <div class="col-md-3 px-1">
              <div class="card border-light my-3 sticky-top">
                <div class="card-body">
                  <!-- User Avatar -->
                  <div class="d-flex flex-column align-items-center p-2 py-3">
                    <img class="rounded-circle avatar" width="200px" src="{{ object.user_avatar.url }}">
                  </div>

                  <!-- Name Fields -->
                  <div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="first_name">First Name</label>
                      <input value="{{ object.first_name|default_if_none:'' }}" type="text" id="first_name" name="first_name" class="form-control form-control-lg required" maxlength="25" required/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="" for="middle_name">Middle Name</label>
                      <input value="{{ object.middle_name|default_if_none:'' }}" type="text" id="middle_name" name="middle_name" class="form-control form-control-lg" maxlength="25"/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="last_name">Last Name</label>
                        <input value="{{ object.last_name|default_if_none:'' }}" type="text" id="last_name" name="last_name" class="form-control form-control-lg required" maxlength="25" required/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="" for="extension">Extensions</label>
                      <input value="{{ object.extension|default_if_none:'' }}" type="text" id="extension" name="extension" class="form-control form-control-lg" maxlength="25"/>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- RIGHT DIV -->
            <div class="form-group col-md-9">

              <!-- Personal -->
              <div class="card border-light my-3">
                <div class="card-header sticky-top">
                  <button type="submit" value="Submit" class="btn btn-primary">Update Details</button>
                </div>
                <div class="card-body row">

                  <h4 class="float-start">Personal Details</h4>


                  <!-- Contact Fields -->
                  <div class="mb-4 col-6 col-md-6">

                    <div class="form-group mb-2">
                      <label class="" for="headline">Headline:</label>
                      <input value="{{ object.headline|default_if_none:'' }}" type="text" id="headline" placeholder="'Software Developer / Freelancer'" name="headline" class="form-control form-control-lg"/>
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group mb-2">
                      <label class="" for="phone_number">Telephone Number</label>
                      <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <select name="area_code" class="input-group-text md-form form-control form-control-lg p-0 required" dir="rtl" required>
                            {% for code in area_codes %}
                            <option value="{{ code }}" {% if object.area_code == code %}selected{% endif %}>({{ code }})</option>
                            {% endfor %}
                          </select>
                        </div>
                        <input value="{{ object.phone_number|default_if_none:'' }}" type="text" id="phone_number" name="phone_number" class="phone_number form-control form-control-lg number_only" maxlength="8"/>
                      </div>
                      <small class="form-text text-muted">You can select a different area code from the dropdown</small>
                    </div>

                    <!-- Mobile Number -->
                    <div class="form-group mb-2">
                      <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                      <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                        </div>
                        <input value="{{ object.mobile_number|default_if_none:'' }}" type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                      </div>
                    </div>

                    <!-- Gender -->
                    <div class="form-group mb-2">
                      <label class="required-field-label" for="gender">Gender</label>
                      <select name="gender" class="gender-select mdb-select md-form form-control form-control-lg required" required>
                        <option value="" disabled {% if not object.gender %}selected{% endif %}>------</option>
                        <option value="male" {% if object.gender == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if object.gender == 'female' %}selected{% endif %}>Female</option>
                        <option value="others" {% if object.gender == 'others' %}selected{% endif %}>Others</option>
                      </select>
                    </div>

                    <!-- Birthday -->
                    <div class="form-group mb-2">
                        <label class="required-field-label" for="birthdate">Birthday</label>
                        <input value="{{ object.birthdate|date:"Y-m-d" }}" type="date" id="birthdate" name="birthdate" class="form-control form-control-lg required"/ max="2999-12-31" required>
                    </div>

                  </div>


                  <!-- Address Fields -->
                  <div class="col-6 col-md-6">

                    <h5>Address</h5>
                    <small class="form-text text-muted">Employers might filter by area. It is benificial to fill in your address details accurately</small>

                    <div class="form-group my-2">
                      <label class="required-field-label" for="region">Region</label>
                      <select name="region" id="user_region" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.region }}" data-target="user_province" required>
                        <option value="">------</option>
                        {% for region in regions.all %}
                          <option value="{{ region.id }}" {% if object.region.id == region.id %} selected {% endif %}>{{ region.name }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="province">Province</label>
                      <select name="province" id="user_province" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.province }}" data-target="user_municipality" required>
                        <option value="">------</option>
                        {% if object.province %}
                          {% for province in provinces.all %}
                            <option value="{{ province.id }}" {% if object.province.id == province.id %}selected{% endif %}>{{ province.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="municipality">Municipality</label>
                      <select name="municipality" id="user_municipality" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.municipality }}" data-target="user_barangay" required>
                        <option value="">------</option>
                        {% if object.municipality %}
                          {% for municipality in municipalities.all %}
                            <option value="{{ municipality.id }}" {% if object.municipality.id == municipality.id %}selected{% endif %}>{{ municipality.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="barangay">Barangay</label>
                      <select name="barangay" id="user_barangay" class="mdb-select md-form form-control form-control-lg required" required>
                        <option value="">------</option>
                        {% if object.barangay %}
                          {% for barangay in barangays.all %}
                            <option value="{{ barangay.id }}" {% if object.barangay.id == barangay.id %}selected{% endif %}>{{ barangay.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                  </div>

                  <div class="col-12 col-md-12">
                    <div class="form-group mb-4">
                      <label class="" for="address">Full Address</label>
                      <input value="{{ object.address|default_if_none:'' }}" type="text" id="address" name="address" class="form-control form-control-lg" />
                    </div>
                  </div>

                  <hr>

                  <h4 class="float-start">Background</h4>

                  <!-- Resume and Attachments -->
                  <div class="col-md-6 col-6 row">
                    <div class="form-group mb-4 mx-1 col-12 col-md-12">
                      <label class="" for="applicant_status">Employment Status</label>
                      <select name="applicant_status" class="applicant-status-select mdb-select md-form form-control form-control-lg">
                        <option value="" disabled {% if not object.applicant_data.applicant_status %}selected{% endif %}>------</option>
                        <option value="unemployed" {% if object.applicant_data.applicant_status == 'unemployed' %}selected{% endif %}>Unemployed</option>
                        <option value="employed" {% if object.applicant_data.applicant_status == 'employed' %}selected{% endif %}>Employed</option>
                      </select>
                    </div>

                    <div class="form-group mb-4 mx-1 col-12 col-md-12">
                      <label class="w-100" for="resume">Resume</label>
                      <small class="form-text text-muted">You can update your resume by uploading a new file</small>
                      <input type="file" value="" id="resume" name="resume" class="form-control form-control-lg mb-2" />
                      {% if object.applicant_data.resume %}
                        <span class="badge rounded-pill bg-info">
                          <a href="{{ object.applicant_data.resume.url }}">{{ object.applicant_data.resume }}</a> |
                          <span class="delete-file" data-id="{{ object.applicant_data.id }}" data-type="resume"><i class="fas fa-times"></i></span>
                        </span>
                      {% endif %}
                    </div>

                    <div class="form-group mb-4 mx-1 col-12 col-md-12">
                      <label class="w-100" for="attachments">Other Attachments <small class="form-text text-muted">   (Certificates, Diploma, TOR, etc...)</small></label>
                      <small class="form-text text-muted">Upload more attachments that would boost your profile</small>
                      <input type="file" id="attachments" name="attachments" class="form-control form-control-lg mb-2" multiple/>
                      {% for file in object.applicant_data.applicant_attachments.all %}
                        <span class="badge rounded-pill bg-info">
                          <a href="{{ file.url }}">{{ file }}</a> |
                          <span class="delete-file" data-id="{{ file.id }}" data-type="attachment"><i class="fas fa-times"></i></span>
                        </span>
                      {% endfor %}
                    </div>

                  </div>

                  <!-- About Me -->
                  <div class="col-md-6 col-6">
                    <div class="row mb-4">
                      <div class="form-group mx-1 col">
                        <label class="w-100" for="overview">About Me</label>
                        <small class="form-text text-muted">Make a pitch about yourself that would help employers understand you and how you are with work</small>
                        <textarea class="form-control" id="overview" name="overview"  rows="10">{{ object.applicant_data.overview|default_if_none:'' }}</textarea>
                      </div>

                    </div>

                  </div>

                  <hr>

                  <!-- Experience -->
                  <div class="col-md-12 col-12">

                    <h4 class="float-start">Experience</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-end mb-2" data-bs-toggle="modal" data-action="add" data-bs-target="#addExperienceModal">
                      Add
                    </button>
                    <table id="ExperienceTable" class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Company</th>
                          <th class="text-center">Position</th>
                          <th class="text-center">Type</th>
                          <th class="text-center">Start</th>
                          <th class="text-center">End</th>
                          <th class="text-center">Current</th>
                          <th class="text-center">Reference</th>
                          <th class="text-center" style="width: 5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if employment_history.all %}
                          {% for data in employment_history.all %}
                          <tr>
                            <td>{{ data.company_name }}</td>
                            <td>{{ data.job_position }}</td>
                            <td>{{ data.employment_type }}</td>
                            <td>{{ data.start }}</td>
                            <td>{{ data.end }}</td>
                            {% if data.current %}
                              <td><i class="far fa-check-circle"></i></td>
                            {% else %}
                              <td></td>
                            {% endif %}
                            <td>{{ data.full_reference }}</td>
                            <td class="p-0">
                              <span class="table-remove">
                                <span class="remove-row" data-id="{{ data.id }}" data-table="ApplicantExperience">
                                  <i class="fas fa-times-circle"></i>
                                </span>
                              </span>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr class="nodata">
                            <td colspan="8">No Data</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>

                  </div>

                  <!-- Education History -->
                  <div class="col-md-12 col-12">

                    <h4 class="float-start">Educational Background</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-end mb-2" data-bs-toggle="modal" data-action="add" data-bs-target="#addEducationModal">
                      Add
                    </button>

                    <table id="educationTable" class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">School</th>
                          <th class="text-center">Degree</th>
                          <th class="text-center">Start</th>
                          <th class="text-center">End</th>
                          <th class="text-center">Reference</th>
                          <th class="text-center" style="width: 5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if educational_history.all %}
                          {% for school in educational_history.all %}
                          <tr>
                            <td>{{ school.school_name }}</td>
                            <td>{{ school.degree }}</td>
                            <td>{{ school.start }}</td>
                            <td>{{ school.end }}</td>
                            <td>{{ school.full_reference }}</td>
                            <td class="p-0">
                              <span class="table-remove">
                                <span class="remove-row" data-id="{{ school.id }}" data-table="ApplicantEducation">
                                  <i class="fas fa-times-circle"></i>
                                </span>
                              </span>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr class="nodata">
                            <td colspan="6">No Data</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>

                  </div>

                  <!-- Skills -->
                  <div class="col-md-12 col-12">

                    <h4 class="float-start">Skills</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-end mb-2" data-bs-toggle="modal" data-action="add" data-bs-target="#addSkillModal">
                      Add
                    </button>

                    <table id="skillsTable" class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Skill</th>
                          <th class="text-center">Efficiency</th>
                          <th class="text-center">Attachments</th>
                          <th class="text-center" style="width: 5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if skills.all %}
                          {% for skill in skills.all %}
                          <tr>
                            <td>{{ skill.name }}</td>
                            <td>{{ skill.efficiency }}</td>
                            <td>
                              {% if skill.attachment %}
                                <span class="badge rounded-pill bg-info">
                                  <a href="{{ skill.attachment.url }}">{{ skill.attachment }}</a> |
                                </span>
                              {% endif %}
                            </td>
                            <td class="p-0">
                              <span class="table-remove">
                                <span class="remove-row" data-id="{{ skill.id }}" data-table="ApplicantSkill">
                                  <i class="fas fa-times-circle"></i>
                                </span>
                              </span>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr class="nodata">
                            <td colspan="4">No Data</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>

                  </div>

                  <!-- Projects -->
                  <div class="col-md-12 col-12">

                    <h4 class="float-start">Projects</h4>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-end mb-2" data-bs-toggle="modal" data-action="add" data-bs-target="#addProjectModal">
                      Add
                    </button>

                    <table id="projectsTable" class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Company</th>
                          <th class="text-center">Title</th>
                          <th class="text-center">Start</th>
                          <th class="text-center">End</th>
                          <th class="text-center" style="width: 5%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if projects.all %}
                          {% for project in projects.all %}
                          <tr>
                            <td>{{ project.experience.company_name }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.start }}</td>
                            <td>{{ project.end }}</td>
                            <td class="p-0">
                              <span class="table-remove">
                                <span class="remove-row" data-id="{{ project.id }}" data-table="ApplicantProject">
                                  <i class="fas fa-times-circle"></i>
                                </span>
                              </span>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr class="nodata">
                            <td colspan="5">No Data</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>

                  </div>

                </div>

              </div>

            </div>

          </div>


      </form>

    </div>

  </div>

  <!-- Employment Modal -->
  <div class="modal fade" id="addExperienceModal" data-ajax-url="{% url 'users:ajax_add_employment_history' %}" tabindex="-1" role="dialog" aria-labelledby="addExperienceTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Experience Details</h5>
        </div>
        <div class="modal-body">
          <form id="employmentHistoryForm">
            <div class="row col">

              <div class="form-group mt-0 mb-2">
                <label class="required-field-label" for="company">Company Name</label>
                <input type="text" id="company" name="company" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mb-2">
                <label class="required-field-label" for="position">Position</label>
                <input type="text" id="position" name="position" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mb-2">
                <label class="required-field-label" for="employment_type">Employment Type</label>
                <select name="employment_type" id="employment_type" class="mdb-select md-form form-control form-control-lg required" required>
                  {% for key, values in employment_type_choices.items %}
                  <option value="{{ key }}">{{ values }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label class="required-field-label">Date Start</label>
                <div class="col-md-7 col-7 pe-0">
                  <select name="start_month" id="start_month" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="start_year" id="start_year" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label>Date End</label>
                <div class="col-md-7 col-7 ps-3 pe-0">
                  <select name="end_month" id="end_month" class="mdb-select md-form form-control form-control-lg">
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="end_year" id="end_year" class="mdb-select md-form form-control form-control-lg">
                    <option value="">----</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group my-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="current" id="current">
                  <label class="form-check-label" for="flexCheckDefault">
                    Currently Employed
                  </label>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="" for="overview">Brief Overview</label>
                <textarea class="form-control" id="overview" name="overview" rows="4"></textarea>
              </div>

              <div class="form-group mb-2">
                <label class="" for="reference_person">Reference Person</label>
                <input type="text" id="reference_person" name="reference_person" class="form-control form-control-lg" placeholder="Name"/>
              </div>

              <div class="form-group mb-2">
                <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                  </div>
                  <input type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="addExperienceSubmit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Education Modal -->
  <div class="modal fade" id="addEducationModal" data-ajax-url="{% url 'users:ajax_add_education' %}" tabindex="-1" role="dialog" aria-labelledby="addEducationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Education Details</h5>
        </div>
        <div class="modal-body">
          <form id="educationForm">
            <div class="row col">

              <div class="form-group mt-0 mb-2">
                <label class="required-field-label" for="school_name">School Name</label>
                <input type="text" id="school_name" name="school_name" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mt-0 mb-2">
                <label class="required-field-label" for="level">Level</label>
                <select name="level" id="level" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="primary">Primary</option>
                    <option value="secondary">Secondary</option>
                    <option value="bachelor">Bachelor's Degree</option>
                    <option value="master">Master's Degree</option>
                    <option value="doctorate">Doctorate</option>
                </select>
              </div>

              <div class="form-group mb-2 d-none">
                <label class="required-field-label" for="degree">Degree</label>
                <input type="text" id="degree" name="degree" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label class="required-field-label">Date Start</label>
                <div class="col-md-7 col-7 pe-0">
                  <select name="start_month" id="start_month" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="start_year" id="start_year" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label>Date End</label>
                <div class="col-md-7 col-7 ps-3 pe-0">
                  <select name="end_month" id="end_month" class="mdb-select md-form form-control form-control-lg">
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="end_year" id="end_year" class="mdb-select md-form form-control form-control-lg">
                    <option value="">----</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="" for="reference_person">Reference Person</label>
                <input type="text" id="reference_person" name="reference_person" class="form-control form-control-lg" placeholder="Name"/>
              </div>

              <div class="form-group mb-2">
                <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                  </div>
                  <input type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="addEducationSubmit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills Modal -->
  <div class="modal fade" id="addSkillModal" data-user-id="{{ user.id }}" data-csrf-token="{{ csrf_token }}" data-ajax-url="{% url 'users:ajax_add_skill' %}" tabindex="-1" role="dialog" aria-labelledby="addSkillTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Skill Details</h5>
        </div>
        <div class="modal-body">

          <form id="skillDetailForm">
            <div class="row col">

              <div class="form-group mt-0 mb-2">
                <label class="required-field-label" for="school_name">Skill Name</label>
                <input type="text" id="school_name" name="school_name" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mb-2">
                <label class="required-field-label" for="efficiency">Efficiency</label>
                <select name="efficiency" id="efficiency" class="mdb-select md-form form-control form-control-lg required" required>
                  <option value="">----</option>
                  {% for key, values in efficiency_choices.items %}
                  <option value="{{ key }}">{{ values }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group mb-2">
                <span>Supporting Document</span>
                <div class="form-group mb-2">
                  <input type="file" id="attachment" name="attachment" class="form-control form-control-lg" />
                </div>
              </div>

            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" id="addSkillSubmit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Modal -->
  <div class="modal fade" id="addProjectModal" data-user-id="{{ user.id }}" data-csrf-token="{{ csrf_token }}" data-ajax-url="{% url 'users:ajax_add_project' %}" tabindex="-1" role="dialog" aria-labelledby="addProjectTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">Project Details</h5>
        </div>
        <div class="modal-body">

          <form id="projectDetailForm">
            <div class="row col">

              <div class="form-group mt-0 mb-2">
                <label class="required-field-label" for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control form-control-lg required" required/>
              </div>

              <div class="form-group mb-2">
                <label class="required-field-label" for="experience">Company</label>
                <select name="experience" id="experience" class="mdb-select md-form form-control form-control-lg required" required>
                  <option value="">----</option>
                  {% for data in employment_history.all %}
                  <option value="{{ data.id }}">{{ data.company_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label class="required-field-label">Date Start</label>
                <div class="col-md-7 col-7 pe-0">
                  <select name="start_month" id="start_month" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="start_year" id="start_year" class="mdb-select md-form form-control form-control-lg required" required>
                    <option value="">------</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group mb-2 col-6 row">
                <label>Date End</label>
                <div class="col-md-7 col-7 ps-3 pe-0">
                  <select name="end_month" id="end_month" class="mdb-select md-form form-control form-control-lg">
                    <option value="">------</option>
                    {% for key, values in months.items %}
                    <option value="{{ key }}">{{ values }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col pe-0">
                  <select name="end_year" id="end_year" class="mdb-select md-form form-control form-control-lg">
                    <option value="">----</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group mb-2">
                <label class="" for="overview">Brief Overview</label>
                <textarea class="form-control" id="overview" name="overview" rows="4"></textarea>
              </div>

            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" id="addProjectSubmit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
