{% extends 'base.html' %}
{% load static %}
{% load common_tags %}

{% block title %} Profile {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}

  <div class="content">
    <div class="container rounded bg-white mt-5 mb-5">
      <form id="profileForm" action="#" method="post" enctype="multipart/form-data">
        <hr>
        <!-- Tabs content -->

          {% csrf_token %}
          <div class="row mb-4">

            <!-- LEFT DIV -->
            <div class="col-md-3 px-1">

              <!-- User Avatar -->
              <div class="d-flex flex-column align-items-center p-2 py-3">
                <img class="rounded-circle avatar" width="200px" src="{{ object.owner.user_avatar.url }}">
              </div>

              <div class="form-group px-4 mb-2">
                <div class="form-group mb-2">
                  <label class="required-field-label" for="company_name">Company Name</label>
                  <input value="{{ object.name }}" type="text" id="company_name" name="name" class="form-control form-control-lg required" required/>
                </div>

                <div class="form-group mb-2">
                  <label class="required-field-label" for="website">Website</label>
                  <input value="{{ object.website }}" type="text" id="website" name="website" class="form-control form-control-lg required" required/>
                </div>

                <div class="form-group mb-2">
                  <label class="required-field-label" for="email">Email</label>
                  <input value="{{ object.email }}" type="text" id="email" name="email" class="form-control form-control-lg required" required/>
                </div>

                <!-- Phone Number -->
                <div class="form-group mb-2">
                  <label class="" for="phone_number">Telephone Number</label>
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <select name="area_code" class="input-group-text md-form form-control form-control-lg p-0 required" dir="rtl" required>
                        {% for code in area_codes %}
                        <option value="{{ code }}" {% if object.owner.area_code == code %}selected{% endif %}>({{ code }})</option>
                        {% endfor %}
                      </select>
                    </div>
                    <input value="{{ object.owner.phone_number|default_if_none:'' }}" type="text" id="phone_number" name="phone_number" class="phone_number form-control form-control-lg number_only" maxlength="8"/>
                    <small id="emailHelp" class="form-text text-muted">You can select a different area code from the dropdown.</small>
                  </div>
                </div>

                <!-- Mobile Number -->
                <div class="form-group mb-2">
                  <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                    </div>
                    <input value="{{ object.owner.mobile_number|default_if_none:'' }}" type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                  </div>
                </div>

              </div>



            </div>

            <!-- RIGHT DIV -->
            <div class="form-group col-md-9">

              <!-- Personal -->
              <div class="card border-light my-3">
                <div class="card-header"><h3>Company Details</h3></div>
                <div class="card-body row">

                  <!-- Name Fields -->
                  <div class="row mb-4 col-6 col-md-6">
                    <h5>Hiring Agent</h5>
                    <small id="emailHelp" class="form-text text-muted">Officer in charge of the hiring process...</small>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="first_name">First Name</label>
                      <input value="{{ object.owner.first_name|default_if_none:'' }}" type="text" id="first_name" name="first_name" class="form-control form-control-lg required" maxlength="25" required/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="" for="middle_name">Middle Name</label>
                      <input value="{{ object.owner.middle_name|default_if_none:'' }}" type="text" id="middle_name" name="middle_name" class="form-control form-control-lg" maxlength="25"/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="last_name">Last Name</label>
                        <input value="{{ object.owner.last_name|default_if_none:'' }}" type="text" id="last_name" name="last_name" class="form-control form-control-lg required" maxlength="25" required/>
                    </div>

                    <div class="form-group mb-2">
                      <label class="" for="extension">Extensions</label>
                      <input value="{{ object.owner.extension|default_if_none:'' }}" type="text" id="extension" name="extension" class="form-control form-control-lg" maxlength="25"/>
                    </div>

                    <!-- Phone Number -->
                    <div class="form-group mb-2">
                      <label class="" for="phone_number">Telephone Number</label>
                      <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <select name="area_code" class="input-group-text md-form form-control form-control-lg p-0 required" dir="rtl" required>
                            {% for code in area_codes %}
                            <option value="{{ code }}" {% if object.owner.area_code == code %}selected{% endif %}>({{ code }})</option>
                            {% endfor %}
                          </select>
                        </div>
                        <input value="{{ object.owner.phone_number|default_if_none:'' }}" type="text" id="phone_number" name="phone_number" class="phone_number form-control form-control-lg number_only" maxlength="8"/>
                        <small id="emailHelp" class="form-text text-muted">You can select a different area code from the dropdown.</small>
                      </div>
                    </div>

                    <!-- Mobile Number -->
                    <div class="form-group mb-2">
                      <label class="" for="mobile_number">Mobile Number</label>&nbsp;<span class="errmsg"></span>
                      <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2">+63</span>
                        </div>
                        <input value="{{ object.owner.mobile_number|default_if_none:'' }}" type="text" id="mobile_number" name="mobile_number" class="form-control form-control-lg number_only" maxlength="10"/>
                      </div>
                    </div>

                    <!-- Gender -->
                    <div class="form-group mb-2">
                      <label class="required-field-label" for="gender">Gender</label>
                      <select name="gender" class="gender-select mdb-select md-form form-control form-control-lg required" required>
                        <option value="" disabled {% if not object.gender %}selected{% endif %}>------</option>
                        <option value="male" {% if object.owner.gender == 'male' %}selected{% endif %}>Male</option>
                        <option value="female" {% if object.owner.gender == 'female' %}selected{% endif %}>Female</option>
                        <option value="others" {% if object.owner.gender == 'others' %}selected{% endif %}>Others</option>
                      </select>
                    </div>

                  </div>


                  <!-- Address Fields -->

                  <div class="row mb-4 col-6 col-md-6">

                    <h5>Address</h5>
                    <small id="emailHelp" class="form-text text-muted">Applicants will filter by area. It is benificial to fill in your address details accurately.</small>

                    <div class="form-group my-2">
                      <label class="required-field-label" for="region">Region</label>
                      <select name="region" id="user_region" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.owner.region }}" data-target="user_province" required>
                        <option value="">------</option>
                        {% for region in regions.all %}
                          <option value="{{ region.id }}" {% if object.owner.region.id == region.id %} selected {% endif %}>{{ region.name }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="province">Province</label>
                      <select name="province" id="user_province" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.owner.province }}" data-target="user_municipality" required>
                        <option value="">------</option>
                        {% if object.owner.province %}
                          {% for province in provinces.all %}
                            <option value="{{ province.id }}" {% if object.owner.province.id == province.id %}selected{% endif %}>{{ province.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="municipality">Municipality</label>
                      <select name="municipality" id="user_municipality" class="address-select mdb-select md-form form-control form-control-lg required" data-ajax-url="{% url 'users:ajax_load_address_dropdown' %}" data-value="{{ object.owner.municipality }}" data-target="user_barangay" required>
                        <option value="">------</option>
                        {% if object.owner.municipality %}
                          {% for municipality in municipalities.all %}
                            <option value="{{ municipality.id }}" {% if object.owner.municipality.id == municipality.id %}selected{% endif %}>{{ municipality.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="required-field-label" for="barangay">Barangay</label>
                      <select name="barangay" id="user_barangay" class="mdb-select md-form form-control form-control-lg required" required>
                        <option value="">------</option>
                        {% if object.owner.barangay %}
                          {% for barangay in barangays.all %}
                            <option value="{{ barangay.id }}" {% if object.owner.barangay.id == barangay.id %}selected{% endif %}>{{ barangay.name }}</option>
                          {% endfor %}
                        {% endif %}
                      </select>
                    </div>

                    <div class="form-group mb-2">
                      <label class="" for="address">Full Address</label>
                      <input value="{{ object.owner.address|default_if_none:'' }}" type="text" id="address" name="address" class="form-control form-control-lg" />
                    </div>

                  </div>

                </div>
              </div>

              <!-- Background -->
              <div class="card border-light mb-3">
                <div class="card-header"><h3>Background</h3></div>
                <div class="card-body">
                  <div class="row mb-4">

                    <div class="form-group mx-1 col">
                      <label class="" for="applicant_status">Employment Status</label>
                      <select name="applicant_status" class="applicant-status-select mdb-select md-form form-control form-control-lg">
                        <option value="" disabled {% if not object.applicant_status %}selected{% endif %}>------</option>
                        <option value="unemployed" {% if object.owner.applicant_status == 'unemployed' %}selected{% endif %}>Unemployed</option>
                        <option value="employed" {% if object.owner.applicant_status == 'employed' %}selected{% endif %}>Employed</option>
                      </select>

                    </div>

                  </div>

                  <div class="row mb-4">
                    <div class="form-group mx-1 col">
                      <label class="" for="overview">Brief Overview</label>
                      <textarea class="form-control" id="overview" name="overview"  rows="4">{{ object.overview }}</textarea>

                    </div>

                  </div>

                  <div class="row mb-4">
                    <span>Resume</span>
                    <div class="form-group mb-2">
                      <input type="file" id="resume" name="resume" class="form-control form-control-lg" />

                    </div>

                    <span>Other Attachments (Certificates, Diploma, TOR, etc...)</span>
                    <div class="form-group mb-2">
                      <input type="file" id="attachments" name="attachments" class="form-control form-control-lg" multiple/>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>


      </form>

    </div>

  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
