
{% autoescape off %}
				                    <tr>
                              <td>{{ posting.job_title }}</td>
                              <td class="text-truncate">{{ posting.description }}</td>
                              <td>{{ posting.required_skills }}</td>
                              <td class="p-0">
                                <span class="table-remove">
                                  <span class="remove-row" data-id="{{ posting.id }}" data-table="CompanyJobPosting">
                                    <i class="fas fa-times-circle"></i>
                                  </span>
                                </span>
                              </td>
                            </tr>
{% endautoescape %}
