{% autoescape off %}
        <div class="modal-header">
          <h5 class="modal-title" id="">Job Posting</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0">
          <ul class="nav nav-tabs mb-3 sticky-top bg-white" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="postingModalDetailsLink"
                data-mdb-toggle="tab"
                href="#postingModalDetails"
                role="tab"
                aria-controls="postingModalDetails"
                aria-selected="true"
                >Details</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="postingModalInvitesLink"
                data-posting-id="{{ posting.id }}"
                data-mdb-toggle="tab"
                href="#postingModalInvites"
                role="tab"
                aria-controls="postingModalInvites"
                aria-selected="false"
                >Invited Applicants</a
              >
            </li>
          </ul>
          <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content" id="ex1-content">
            <div id="message-container" class="w-100">
              {{ message }}
            </div>

            <div class="tab-pane fade show active" id="postingModalDetails" role="tabpanel" aria-labelledby="postingModalDetailsLink">
              <form action="" method="post" class="mb-1">
                <div class="form-group mt-0 mb-2">
                  <label class="required-field-label" for="job_title">Job Title</label>
                  <input value="{{ posting.job_title|default_if_none:'' }}" type="text" id="job_title" name="job_title" class="form-control required" required/>
                </div>

                <div class="form-group mb-2">
                  <label class="" for="description">Job Description</label>
                  <textarea class="form-control" id="description" name="description" rows="4">{{ posting.description|default_if_none:'' }}</textarea>
                </div>

                <div class="form-group mb-2 row">

                  <div class="form-group col-2">
                    <label>Vacancy</label>
                    <input value="{{ posting.vacancy|default_if_none:'' }}" type="number" id="vacancy" name="vacancy" class="form-control required" min="1" max="99" required/>
                  </div>

                  <div class="form-group col-3">
                    <label class="required-field-label" for="employment_type">Employment Type</label>
                    <div class="form-group col">
                      <select name="employment_type" id="employment_type" class="mdb-select md-form form-control required" required>
                        {% for key, values in employment_type_choices.items %}
                        <option value="{{ key }}" {% if posting.employment_type == key %}selected{% endif %}>{{ values }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-3 pr-0 pr-md-0">
                    <label>Salary Range</label>
                    <input value="{{ posting.salary_range_start|default_if_none:'' }}" type="number" id="salary_range_start" name="salary_range_start" class="form-control required" placeholder="MIN" required/>
                  </div>
                  <div class="form-group col-1 p-0">
                    <label></label>
                    <p class="text-center my-2">-</p>
                  </div>
                  <div class="form-group col-3">
                    <label></label>
                    <input value="{{ posting.salary_range_end|default_if_none:'' }}" type="number" id="salary_range_end" name="salary_range_end" class="form-control required" placeholder="MAX" required/>
                  </div>

                </div>

                <div class="form-group mb-2 row">

                  <div class="col-12 col-md-12">
                    <span>Attachments</span>
                    <input type="file" id="attachments" name="attachments" class="form-control" multiple/>
                    {% for attachment_obj in posting.job_posting_attachments.all %}
                      <span class="badge rounded-pill bg-info">
                        <a href="{{ attachment_obj.attachment.url }}" target="_blank">{{ attachment_obj.filename }}</a> |
                        <span class="delete-file" data-id="{{ attachment_obj.id }}" data-type="attachment"><i class="fas fa-times"></i></span>
                      </span>
                    {% endfor %}
                  </div>

                </div>

                <div class="form-group mt-0 mb-2">
                  <label class="required-field-label" for="preferred_skills">Skills Required</label>
                  <input value="{{ posting.preferred_skills|default_if_none:'' }}" type="text" id="preferred_skills" name="preferred_skills" class="form-control required" required/>
                </div>

              </form>
            </div>

            <div class="tab-pane fade" id="postingModalInvites" role="tabpanel" aria-labelledby="postingModalInvitesLink">
              <div class="invites_container">

              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="updateJobPostingSubmit" data-id="{{ posting.id }}" data-ajax-url="{% url 'jobs:ajax_edit_job_posting' %}" data-csrf-token="{{ csrf_token }}" class="btn btn-primary">Save</button>
        </div>
{% endautoescape %}
